In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
names = pd.read_csv("names_id_age.csv")
sales = pd.read_csv("lead_sale_stats.csv")

In [7]:
names.describe()

                id        age       lead_id
count  1000.000000  1000.0000  1.000000e+03
mean    499.500000    50.2890  6.998261e+05
std     288.819436    14.2526  3.202902e+05
min       0.000000    25.0000  1.365950e+05
25%     249.750000    38.0000  4.144500e+05
50%     499.500000    50.5000  7.162640e+05
75%     749.250000    63.0000  9.843235e+05
max     999.000000    75.0000  1.234456e+06

In [5]:
sales.head()

     lead_id        name  bought_policy  policy_amount
0  1197608_b   AN4UFZ08R              0              0
1  c_1116417      M0XPQP              1            403
2  a_1125118    LUH4V4F9              1            367
3   a_449886      KVC2IK              0              0
4   b_668018  3CIXG65M6W              0              0